:root {
	--all-color: #171717;
	--dark-gray: #383838;
	--green: #63a603;
	--orange: #f46510;
	--orange-logo: #fbb03b;
	--light-gray: #f5f5f5;
	--white: #fff;
}

body {
	background-color: #ffffff;
	color: var(--all-color);
}

section {
	max-width: 1900px;
	margin: 0 auto;
}
.top {
	background-color: var(--light-gray);
	padding: 10px 0;
}
.contacts {
	text-align: center;
}
.telephone .icon-phone {
	color: var(--green);
}
.email {
	margin-left: 5px;
}
.email a {
	color: var(--all-color);
}
.email a span {
	color: var(--green);
}
.panal-in {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.in, .reg {
	
	padding: 8px 18px;
	color: var(--white);
	background-color: var(--green);
}
.reg {
	margin-left: 15px;
	background-color: var(--orange);
}
@media (min-width: 768px) {
	.panal-in {
		margin-top: 0;
	}
	.contacts {
		text-align: left;
	}
	.panal-in {
		justify-content: flex-end;
	}
}

/* top menu */
.top-menu {
	background-color:#fff;
	padding: 5px 0;
	/*position: fixed;*/
	position: relative;
	z-index: 500;
	top: 0;
	left: 0;
	right: 0;
	height: auto;
	transition: .5s;
}
.top-menu.active {
	box-shadow: 0 1px 3px rgba(0, 0, 0, .5)
}

.logo img {
	width: 100%;
	max-width: 210px;
}
@media (min-width: 576px) {
	.logo img {
		width: 100%;
		max-width: 300px;
	}
}
.main-menu-col {
	position: relative;
}
.burger {
	border-radius: 2px;
	width: 52px;
	height: 50px;
	vertical-align: middle;
	margin-right: 10px;
	background-color: var(--dark-gray);
	border: 1px solid var(--all-color);
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
}

.burger:hover {
	cursor: pointer;
}

.burger span {
	display: inline-block;
	background-color: #fff;
	height: 2px;
	width: 100%;
	transition: .5s;
}

.burger span:nth-of-type(1) {
	width: 80%;
}

.burger span:nth-of-type(2) {
	width: 95%;
}

.burger span:nth-of-type(3) {
	width: 70%;
}
.main-menu {
	display: none;
	position: absolute;
	top: 55px;
	background: #fff;
	right: 20px;
	width: 200px;
}
.main-menu.active {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow:  0 1px 2px rgba(0, 0, 0, .5);
	box-shadow:  0 1px 2px rgba(0, 0, 0, .5);
	border: 1px solid var(--green);
}
.main-menu ul {
	list-style: none;
	padding: 10px 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.main-menu ul li {
}

.main-menu ul li a {
	display: block;
	position: relative;
	color: var(--all-color);
	padding: 5px 15px;
}
.main-menu ul li.active a {
	color: var(--green);
	text-decoration: none;
}
.main-menu ul li.active a::after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 4px;
	height: 1px;
	overflow: hidden;
	background-color: var(--orange-logo);
}
@media (min-width: 1200px) {
	.burger {
		display: none;
	}
	.main-menu.active {
		-webkit-box-shadow: 0 0 0 #000;
		-moz-box-shadow:  0 0 0  #000;
		box-shadow:  0 0 0  #000;
		border: 0 none var(--green);
	}
	.main-menu {
		display: block !important;
		position: static;
		background: transparent;
		width: auto;
	}
	
	.main-menu ul {
		flex-direction: row;
	}
}
