:root {
	--all-color: #171717;
	--dark-gray: #383838;
	--middle-gray: #595959;
	--light-gray: #f5f5f5;
	--green: #33cc00;
	--blue:#4C0BD9;
	--middle-green: #b1ff9a;
	--yellow: #ffdb00;
	--orange: #FFC30D;
	--orange-logo: #fbb03b;
	--white: #fff;
	--color-soc-f: #3b5998;
}

body {
	background-color: #ffffff;
	color: var(--all-color);
}

section {
	max-width: 1900px;
	margin: 0 auto;
}
.top {
	background-color: var(--light-gray);
	padding: 10px 0;
	position: relative;
	z-index: 200;
}
.contacts {
	text-align: center;
	font-size: 0.9rem;
}
.telephone .icon-phone {
	color: var(--green);
}
.email {
	margin-left: 5px;
}
.email a {
	color: var(--all-color);
}
.email a span {
	color: var(--green);
}
.panel-in-top {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.in, .reg {
	padding: 8px 18px 8px 10px;
	color: var(--white);
	background-color: var(--green);
}
.in:hover {
	color: var(--white);
}
.reg {
	margin-left: 15px;
	background-color: var(--orange);
	color: var(--dark-gray);
}
.reg:hover {
	color: #000000;
}
@media (min-width: 768px) {
	.panel-in-top {
		margin-top: 0;
	}
	.contacts {
		text-align: left;
	}
	.panel-in-top {
		justify-content: flex-end;
	}
}

/* top menu */
.top-menu {
	background-color:#fff;
	padding: 5px 0;
	/*position: fixed;*/
	position: relative;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	height: auto;
	transition: .5s;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}
.top-menu.active {
	box-shadow: 0 1px 3px rgba(0, 0, 0, .5)
}
.logo {
	text-align: center;
}
.logo img {
	width: 100%;
	max-width: 210px;
}
.main-menu-col {
	position: relative;
}
.main-menu-col h1 {
	font-weight: 300;
	font-size: 1.8rem;
	text-transform: uppercase;
	color: #383838;
	margin: 10px 0 10px 0;
	text-align: center;
}
@media (min-width: 576px) {
	.logo img {
		width: 100%;
		max-width: 300px;
	}
}
@media (min-width: 992px) {
	.logo  {
		text-align: left;
	}
	.main-menu-col h1 {
		text-align: right;
		margin: 27px 0 0 0;
	}
}
@media (min-width: 1200px){
	.main-menu-col {
		margin-top: 17px;
	}
}
.burger {
	border-radius: 2px;
	width: 52px;
	height: 50px;
	vertical-align: middle;
	margin-right: 10px;
	background-color: var(--dark-gray);
	border: 1px solid var(--all-color);
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
}

.burger:hover {
	cursor: pointer;
}

.burger span {
	display: inline-block;
	background-color: #fff;
	height: 2px;
	width: 100%;
	transition: .5s;
}

.burger span:nth-of-type(1) {
	width: 80%;
}

.burger span:nth-of-type(2) {
	width: 95%;
}

.burger span:nth-of-type(3) {
	width: 70%;
}
.main-menu {
	display: none;
	position: absolute;
	top: 55px;
	background: #fff;
	right: 20px;
	width: 200px;
}
.main-menu.active {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow:  0 1px 2px rgba(0, 0, 0, .5);
	box-shadow:  0 1px 2px rgba(0, 0, 0, .5);
	border: 1px solid var(--green);
}
.main-menu ul {
	list-style: none;
	padding: 10px 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.main-menu ul li {
}

.main-menu ul li a {
	display: block;
	position: relative;
	color: #000;
	padding: 5px 15px;
	text-transform: uppercase;
	font-weight: 300;
}
.main-menu ul li.active a {
	color: var(--green);
	text-decoration: none;
}
.main-menu ul li.active a::after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 4px;
	height: 1px;
	overflow: hidden;
	background-color: var(--orange);
}
@media (min-width: 1200px) {
	.burger {
		display: none;
	}
	.main-menu.active {
		-webkit-box-shadow: 0 0 0 #000;
		-moz-box-shadow:  0 0 0  #000;
		box-shadow:  0 0 0  #000;
		border: 0 none var(--green);
	}
	.main-menu {
		display: block !important;
		position: static;
		background: transparent;
		width: auto;
	}
	
	.main-menu ul {
		flex-direction: row;
	}
}

/*Разметка содержимого*/
.content {
	border: 1px solid transparent;
	padding-top: 40px;
	padding-bottom: 80px;
}
.firstPage {
	background-image: url("../img/pole_2_1920.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 100%;
	min-height: 100vh;
}
.panal-fist-page {
	margin: 30px auto;
	padding: 30px;
	text-align: center;
	width: 90%;
	max-width: 580px;
	background-color: rgba(255, 255, 255, .5);
}
.panal-fist-page h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5rem;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, .7);
}
.panal-fist-page p {
	font-size: 1.2rem;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, .7);
	color: black;
}
.panal-fist-page .panel-in-top {
	margin: 30px 0;
	justify-content: center;
}
	/*Дрон*/
.dron
{
	-webkit-animation:dron-fly 20s linear infinite;
	-moz-animation:dron-fly 20s linear infinite;
	-ms-animation:dron-fly 20s linear infinite;
	-o-animation:dron-fly 20s linear infinite;
	animation:dron-fly 20s linear infinite;
	position: absolute;
	top: 10px;
	right: 10px;

}
.dron img {
	width: 250px;
}
.fui-cross-circle.close-left {
	cursor:pointer;}
@-webkit-keyframes dron-fly {
	20% {top: 5%; right: 20%}
	40% {top: 55%; right: 10%; -moz-transform:rotate(-10deg);  -webkit-transform:rotate(-10deg);  -o-transform:rotate(-10deg);  -ms-transform:rotate(-10deg);}
	50% {-moz-transform:rotate(-30deg);  -webkit-transform:rotate(-30deg);  -o-transform:rotate(-30deg);  -ms-transform:rotate(-30deg);}
	70% {top: 5%; right: 90%}
	80% {-moz-transform:rotate(10deg);  -webkit-transform:rotate(10deg);  -o-transform:rotate(10deg);  -ms-transform:rotate(10deg);}
}


@-ms-keyframes dron-fly {
	20% {top: 5%; right: 20%}
	40% {top: 55%; right: 10%; -moz-transform:rotate(-10deg);  -webkit-transform:rotate(-10deg);  -o-transform:rotate(-10deg);  -ms-transform:rotate(-10deg);}
	50% {-moz-transform:rotate(-30deg);  -webkit-transform:rotate(-30deg);  -o-transform:rotate(-30deg);  -ms-transform:rotate(-30deg);}
	70% {top: 5%; right: 80%}
	80% {-moz-transform:rotate(10deg);  -webkit-transform:rotate(10deg);  -o-transform:rotate(10deg);  -ms-transform:rotate(10deg);}
}
@-o-keyframes dron-fly {
	20% {top: 5%; right: 20%}
	40% {top: 55%; right: 10%; -moz-transform:rotate(-10deg);  -webkit-transform:rotate(-10deg);  -o-transform:rotate(-10deg);  -ms-transform:rotate(-10deg);}
	50% {-moz-transform:rotate(-30deg);  -webkit-transform:rotate(-30deg);  -o-transform:rotate(-30deg);  -ms-transform:rotate(-30deg);}
	70% {top: 5%; right: 80%}
	80% {-moz-transform:rotate(10deg);  -webkit-transform:rotate(10deg);  -o-transform:rotate(10deg);  -ms-transform:rotate(10deg);}
}
@-moz-keyframes dron-fly {
	20% {top: 5%; right: 30%}
	40% {top: 55%; right: 10%; -moz-transform:rotate(-10deg);  -webkit-transform:rotate(-10deg);  -o-transform:rotate(-10deg);  -ms-transform:rotate(-10deg);}
	50% {-moz-transform:rotate(-30deg);  -webkit-transform:rotate(-30deg);  -o-transform:rotate(-30deg);  -ms-transform:rotate(-30deg);}
	70% {top: 5%; right: 80%}
	80% {-moz-transform:rotate(10deg);  -webkit-transform:rotate(10deg);  -o-transform:rotate(10deg);  -ms-transform:rotate(10deg);}
}

@keyframes dron-fly {
	20% {top: 5%; right: 35%}
	40% {top: 55%; right: 10%; -moz-transform:rotate(-10deg);  -webkit-transform:rotate(-10deg);  -o-transform:rotate(-10deg);  -ms-transform:rotate(-10deg);}
	50% {-moz-transform:rotate(-30deg);  -webkit-transform:rotate(-30deg);  -o-transform:rotate(-30deg);  -ms-transform:rotate(-30deg);}
	70% {top: 5%; right: 80%}
	80% {-moz-transform:rotate(10deg);  -webkit-transform:rotate(10deg);  -o-transform:rotate(10deg);  -ms-transform:rotate(10deg);}
}

/*
.light{
	-webkit-animation:light-blinck 2s linear infinite;
	-moz-animation:light-blinck 2s linear infinite;
	-ms-animation:light-blinck 2s linear infinite;
	-o-animation:light-blinck 2s linear infinite;
	animation:light-blinck 2s linear infinite;
	position: absolute;
	border-radius: 100%;
	width: 250px;
	height: 250px;
	background-image: url("../img/flash.png");
	background-size: 100%;
	left: 84px;
	top: 128px;
	transition: 500ms;
	opacity: 0;
}
@-webkit-keyframes light-blinck {
	10% {opacity: 1}
	20% {opacity: 0}
	30% {opacity: 0}
	40% {opacity: 0}
	50% {opacity: 0}
	60% {opacity: 0}
	70% {opacity: 0}
	80% {opacity: 0}
	90% {opacity: 1}
}
@-o-keyframes light-blinck {
	10% {opacity: 1}
	20% {opacity: 0}
	30% {opacity: 0}
	40% {opacity: 0}
	50% {opacity: 0}
	60% {opacity: 0}
	70% {opacity: 0}
	80% {opacity: 0}
	90% {opacity: 1}
}
@-moz-keyframes light-blinck {
	10% {opacity: 1}
	20% {opacity: 0}
	30% {opacity: 0}
	40% {opacity: 0}
	50% {opacity: 0}
	60% {opacity: 0}
	70% {opacity: 0}
	80% {opacity: 0}
	90% {opacity: 1}
}
@-ms-keyframes light-blinck {
	10% {opacity: 1}
	20% {opacity: 0}
	30% {opacity: 0}
	40% {opacity: 0}
	50% {opacity: 0}
	60% {opacity: 0}
	70% {opacity: 0}
	80% {opacity: 0}
	90% {opacity: 1}
}
@keyframes light-blinck {
	10% {opacity: 1}
	20% {opacity: 0}
	30% {opacity: 0}
	40% {opacity: 0}
	50% {opacity: 0}
	60% {opacity: 0}
	70% {opacity: 0}
	80% {opacity: 0}
	90% {opacity: 1}
}
*/
	/*Дрон*/
	/*Левая  колонка*/
.left-col {}
	/*Левое меню*/
.module > h3 {
	font-size: 1.4rem;
	padding-left: 18px;
	color: var(--orange);
}
.left-menu ul {
	list-style: none;
	padding-left: 0;
}
.left-menu li {

}
.left-menu a {
	display: block;
	padding: 6px 18px;
	color: var(--all-color);
}
	/*Подвал*/
.footer {
	background-color: var(--green);
	color: var(--white);
	text-align: center;
}
.footer article {
	padding: 25px;
}
/*Чат*/
.module.chat {

}
.chat-box {
	font-size: 0.9rem;
	height: 500px;
	overflow: auto;
	border-top: 1px solid var(--middle-green);
	border-bottom: 1px solid var(--middle-green);
}
.chat-box dl {
	padding: 5px;
}
.chat-box > dl {
	border:1px solid var(--middle-green);
	background-color: var(--middle-green) ;
}
.chat-box > dl:nth-of-type(odd) dl {
	border:1px solid var(--white);
}
.chat-box > dl:nth-of-type(odd) dl:nth-of-type(odd) {
	background-color: var(--white);
}
.chat-box > dl dl:first-of-type{
	margin-top: 20px;
}
.chat-box > dl:nth-of-type(even) {
	background-color: var(--white);
}
.chat-box > dl:nth-of-type(even) dl:nth-of-type(odd) {
	background-color: var(--middle-green);
}
.chat-box > dl:nth-of-type(even) dl:nth-of-type(even) {
	border: 1px solid var(--middle-green);
}
.chat-box > .partners {
	background-color: var(--orange-logo) !important;
	border: 1px solid var(--orange) !important;
}
.chat-box > dl dl {
	margin-left: 32px;
}
.chat-box h4 {
	margin-left: 5px;
}
.chat-box > dl dd {
	position: relative;
	margin: 5px;
}
.chat-title {
	display: flex;
	align-items: center;
}
.chat-header {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}
.chat-name {
	font-weight: 600;
	line-height: 1.2rem;
}
.chat-data {
	font-weight: 400;
	color: var(--middle-gray);
	line-height: 1.2rem;
}
.chat-reply {
	float: right;
	margin-left: 10px;
	font-size: 1.2rem;
	color: var(--orange);
}
/*Карточка фермера*/
.cart-f {
	display: flex;
}
.cart-f > figure {

}
.cart-cont {
	flex-grow: 1;
	padding-left: 20px;
}
ul.cont-text {
	list-style: none;
	padding-left: 0;
}
ul.cont-text li {
	display: flex;
}
.first {
	width: 80px;
	color: var(--middle-gray);
	font-size: 0.9rem;
}
.two {
	flex-grow: 1;
}
.cart-name {
	font-weight: 600;
	font-size: 1.2rem;
}
.partner-title h1 {
	font-size: 1.7rem;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: 300;
}
.partner-logo figure img {
	width: 100%;
}
.partner-maps a {
	display: inline-block;
	text-align: center;
	padding: 8px 18px;
	color: var(--white);
	background-color: var(--green);
	font-size: 0.9rem;
}
.partner-rating-f {
	display: flex;
	align-items: center;
}
.description {
	margin: 15px 0;
}
.partner-photo figure img {
	width: 100%;
}
.categories {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 1.5rem;
	color: var(--orange);
	display: flex;
	align-items: center;
	border: 1px solid var(--green);
	padding: 5px 10px;
	margin: 20px 0;
}
.cooperation > span, .categories span {
	font-size: 0.9rem;
	color: var(--middle-gray);
	font-family: 'Open Sans', sans-serif;
	padding-right: 5px;
}
.cooperation {
	display: flex;
	align-items: center;
	border: 1px solid var(--green);
	padding: 5px 10px;
	margin: 20px 0;
}
.categories-col-r {
	display: flex;
	flex-direction: column;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 1.5rem;
	line-height: 1.3em;
	color: var(--orange);
	
}
.categories-down {
	color: var(--orange);
}
.categories-col-r > div {
	margin: 10px 0;
}

.partner-line-shop {
	display: flex;
	justify-content: stretch;
	align-items: center;
	margin: 15px -10px;
	padding: 5px 0;
	border: 1px solid var(--green);
}
.partner-rating, .partner-logo, .partner-name, .partner-category, .partner-contact{
	padding: 0 10px;
}
.partner-rating {
	width: 118px;
}
.partner-line-shop > .partner-logo {
	width: 21%;
}
.partner-line-shop > .partner-logo figure {
	margin-bottom: 0;
}
.partner-name {
	font-size: 1.6rem;
	text-transform: uppercase;
	width: 33%;
	font-weight: 300;
	font-family: "Roboto Condensed", sans-serif;
}
.partner-name a {
	color: var(--all-color);
}
.partner-category {
	width: 22%;
}
.partner-contact {
	min-width: 15%;
}
.star {
	position: relative;
	width: 98px;
}
.star-gray img, .star-orang img {
	vertical-align: top;
}
.star-orang {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
/*Табс*/
.tabs {
}
.tabs-status {
	font-size: 1.1rem;
	font-weight: 600;
	margin-bottom: 10px;
}
.tabs-caption {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tabs-caption li {
	flex-grow: 1;
	text-transform: uppercase;
	font-weight: 300;
	padding: 4px 0 3px 10px;
	font-size: 1rem;
	cursor: pointer;
	text-align: left;
}
.tabs-caption li:hover {
	background-color: rgba(255, 255, 255, 0.5);
}
.tabs-caption li.active {
	color: #ffffff;
	background-color: var(--green);
}
.tabs-caption li.active:before {
	content: '\e808';
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .4em;
	text-align: center;

}
.tabs-content {
	display: none;
	padding-top: 20px;
	padding-bottom: 50px;
	color: var(--all-color);
}
.tabs-content.active {
	display: block;
	margin: 0 7.33%;
}

/* panel in*/
.in-panel .in-soc {
	background-color: var(--color-soc-f);
}
.in-panel h3 {
	text-align: center;
	font-weight: 300;
	font-size: 2.5rem;
	margin-bottom: 30px;
}
.in-panel h3.head-reg {
	margin-top: 15px;
}
.in-soc  a {
	display: flex;
	color: #fff;
	align-items: center;
}
.in-soc a span:nth-of-type(2) {
	flex-grow: 1;
	text-align: center;
	font-size: 0.9em;
	padding-right:7px;
}
.in-soc .icon-facebook-official {
	padding: 8px 5px 6px 5px;
	display: inline-block;
}
.in-soc .icon-facebook-official:before {
	font-size: 1.5rem;
}
.in-soc .soc-zag {
	display: inline-block;
}
.line-form {
	margin: 20px 0;
}
.line-form .or {
	font-size: 1.2rem;
	font-weight: 900;
}
.line-form input.input-in {
	border: 1px solid var(--blue);
	background-color: rgba(255, 255, 255, 1) !important;
	width: 100%;
	padding: 10px;
}
.row-line {
	display: flex;
	justify-content: stretch;
	align-items: center;
}
.row-line-fl {
	display: flex;
	justify-content: left;
	align-items: center;
}
.row-line label, .row-line-fl label  {
	margin-bottom: 0;
	display: flex;
	align-items: center;
}
.row-line > div {
	flex-grow: 1;
}
.row-line-fl > div {
	padding-right: 15px;
}
.row-line > div .input-check, .row-line-fl > div .input-check  {
	display: none;
}

.line-form input[type="checkbox"] + label,
.line-form input[type="radio"] + label {
	cursor: pointer;
}
.line-form  input.input-check[type="checkbox"] + label::before,
.line-form  input.input-check[type="radio"] + label::before {
	content: "";
	display: inline-block;
	height: 21px;
	width: 21px;
	margin: 0 10px 0 0;
	background: url("../img/img-check.png") no-repeat 0 -24px;
}
.line-form  input.input-check[type="radio"] + label::before {
	background-image: url("../img/img-radio.png");
}
.line-form  input.input-check[type="checkbox"]:checked + label::before,
.line-form  input.input-check[type="radio"]:checked + label::before {
	background-position: 0 -2px;
}
.line-form .input-submit {
	display: inline-block;
	border: 1px solid var(--light-gray);
	background-color: var(--green);
	color: #fff;
	font-weight: 400;
	text-align: center;
	width: 100%;
	cursor: pointer;
	padding: 10px 0;
	font-size: 1.3rem;
}
.input-about {
	display: inline-block;
	border: 1px solid var(--blue);
	font-weight: 400;
	width: 100%;
	height: 100px;
}
/*вход выход */
.login-in {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}
.link-login-in img {
	width: 40px;
}
.panel-on {
	position: relative;
}
.panel-on-p {
	position: absolute;
	top: 50px;
	right: 0;
	display: none;
	background: var(--dark-gray);
	color: #fff;
	padding: 10px;
	-webkit-box-shadow: 1px 1px 2px #ffffff;
	-moz-box-shadow:  1px 1px 2px #ffffff;
	box-shadow:  1px 1px 2px #ffffff;
}
.panel-on-p.active {
	display: block;
}
.panel-on-p ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.panel-on-p a {
	color: #ffffff;
}


/* Подвал */